@charset "UTF-8";

/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------ content { */
/* ---------------------------------------------------------------------------------------- */
#content {
	line-height: 1.7em;
	padding: 0 20px 20px 20px;
}
#content a {
	color: #3F45D1;
}
/* ------------------------------------------ head --- */
#content h1, h2, h3, h4, h5, h6 {
	color: #222;
}
#content h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
#content h1 {
	margin: 0 -20px 40px -20px;
	padding: 40px 0 10px 0;
	line-height: 40px;
	font-size: 182%;/*24px*/
	text-align: center;
	background: #fcffff url("../image/parts/head-flutist.png") no-repeat bottom left;
	border-bottom: solid 1px #eee;
	font-family: Times, "Times New Roman", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "MS P Mincho", "ＭＳ Ｐ明朝", serif;
	font-weight: normal;
}
#content h2 {
	margin: 70px 1px 30px 0;
	padding: 0 10px 0 30px;
	line-height: 62px;
	font-size: 182%;/*24px*/
	font-weight: bolder;
	background: transparent url(../image/parts/head-score.png) no-repeat;
	text-align: center;
}
#content h3 {
	margin: 40px 0 15px 0;
	padding-left: 30px;
	line-height: 28px;
	font-size: 138.5%;/*18px*/
	border-bottom: solid 1px #666;
	background: transparent url(../image/parts/head-staff.gif) no-repeat bottom left;
}
#content h1 span.second-line, #content h2 span.second-line, #content h3 span.second-line {
	display: block;
}
#content h4 {
	margin: 15px 140px 15px 12px;
	padding-left: 10px;
	line-height: 28px;
	text-indent: 1em;
	font-size: 115%;
	border-bottom: dotted 1px #666;
}
#content h5, h6 {
	margin: 30px 0 10px 30px;
	line-height: 28px;
	font-size: 153.9%;/*20px*/
}

#content h2.dicword {
	background: none;
	border-bottom: solid 2px #666;
	border-left: solid 16px #666;
	padding: 10px 0 0 15px;
	text-align: left;
	font-size: 167%;/*22px*/
	line-height: 2em;
}
#content h2.dicword:first-letter {
	font-size: 197%;/*26px*/
}
/* --------------------------------------------- base font --- */
#content p, #content li, #content ol, #content dl {
	font-size: 93%;/*12px*/
}
#content li li, #content ol ol, #content dl dl {
	font-size: 100%;
}
/* --------------------------------------------- p --- */
#content p {
	padding: 0.5em 0;
}
/* ------------------------------------------ span --- */
#content span.existscloset:hover {
	border-bottom: solid 1px #ccc;
}
#content span.existscloset:hover:after  {
	content: "!";
	color: #fff;
	background: #999;
	padding: 0 3px;
}
/* free comment */
#content span.frm {
	color: green;
	font-size: 85%;/*11px*/
}
#content span.working {
	color: #666;
}
#content span.working:after {
	content: "(Making)";
	color: #666;
	font-size: 77%;/*10px*/
	padding: 0 3px;
	margin: 0 2px;
}
/* ----------------------------------------- table --- */
/*
#content table {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-collapse: collapse;
}
#content caption {
	font-weight: bold;
	padding-bottom: 6px;
}
#content th, #content td {
	padding: 5px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
#content th {
	background-color: #CDBA96;
}
*/
/* ------------------------------------------ code --- */
#content pre {
	overflow: auto;
	background-color: #CFE9ED;
	padding: 5px 0 5px 15px;
	margin: 10px 0;
	border: outset 3px #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#content pre span.codetitle {
	font-style: italic;
	font-size: 77%;/*10px*/
	vertical-align: top;
}
#content ol span.codetitle, #content ul span.codetitle, #content dl span.codetitle {
	font-size: 90%;/*10px*/
}
#content code {
	font-family: Monaco, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "MS Pゴシック", sans-serif;
	font-size: 85%;/*11px*/
	letter-spacing: 0.5px;
	line-height: 1.3;
}
#content ol code, #content ul code, #content dl code {
	font-size: 108%;/*11px*/
}
#content code span.comment {
	color: #3F7E5E;
}
#content code span.keyword {
	color: #77226C;
}
#content code span.attribute {
	color: #0000C0;
}
#content code span.literal {
	color: #2A00FF;
}
#content code span.localvar {
	color: #553000;
}
#content code span.dbtype {
	color: #AB3000;
}
#content code span.point {
	color: #CC4747;
}
#content code span.subpoint {
	color: #994747;
}
#content code span.spotlight {
	font-size: 120%;
}
#content code span.abbreviation {
	color: #7777DD;
	font-size: 77%;/*10px*/
}
#content p.codeintro {
	font-size: 85%;/*11px*/
	padding-bottom: 0;
}
#content ul.codeoutro, #content p.codeoutro {
	font-size: 85%;/*11px*/
	padding-top: 0;
}

/* ----------------------------------------- list --- */
#content ul, ol {
	list-style-position: inside;
	margin-left: 5px;
}
#content ul li {
	list-style-image: url("../image/parts/listmark-rest.gif");
}
#content ul.flowlist li {
}
#content ul.indexlist {
	margin: 10px 60px;
	padding: 10px 0;
/*	background-color: #fcffff; */
}
#content ul.indexlist li {
	padding: 0 0 3px 25px;
	list-style-image: url("../image/parts/listmark-note.gif");
}
#content dl dd {
	padding: 0 0 0.5em 2em;
}
#content dl dd dl {
	margin-top: 0.5em;
}

/* ------------------------ dl.textlist */
#content dl.textlist dt {
	padding-top: 0.7em;
	padding-left: 1em;
	font-weight: bolder;
}
#content dl.textlist dd {
	padding-top: 0.1em;
	padding-bottom: 0.3em;
	padding-left: 3em;
	font-size: 93%;/*12px*/
}
/* ------------------------ dl.keymainlist */
#content dl.keymainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.keymainlist dt {
	width: 15em;
	float: left;
	clear: left;
	margin-left: 2em;
	font-weight: bold;
}
/* ------------------------ dl.shortkeymainlist */
#content dl.shortkeymainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.shortkeymainlist dt {
	width: 11em;
	float: left;
	clear: left;
	margin-left: 2em;
	font-weight: bold;
}
/* ------------------------ dl.shoshortkeymainlist */
#content dl.shoshortkeymainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.shoshortkeymainlist dt {
	width: 8em;
	float: left;
	clear: left;
	margin-left: 2em;
	font-weight: bold;
}
/* ------------------------ dl.longkeymainlist */
#content dl.longkeymainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.longkeymainlist dt {
	width: 19em;
	float: left;
	clear: left;
	margin-left: 2em;
	font-weight: bold;
}
/* ------------------------ dl.lolongkeymainlist */
#content dl.lolongkeymainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.lolongkeymainlist dt {
	width: 26em;
	float: left;
	clear: left;
	margin-left: 2em;
	font-weight: bold;
}
/* ------------------------ dl.valuemainlist */
#content dl.valuemainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.valuemainlist dt {
	width: 12em;
	float: left;
	clear: left;
	margin-left: 5em;
}
#content dl.valuemainlist dd {
	font-weight: bold;
}
/* ------------------------ dl.longvaluemainlist */
#content dl.longvaluemainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.longvaluemainlist dt {
	width: 12em;
	float: left;
	clear: left;
	margin-left: 2em;
}
#content dl.longvaluemainlist dd {
	font-weight: bold;
}
/* ------------------------ dl.lolongvaluemainlist */
#content dl.lolongvaluemainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.lolongvaluemainlist dt {
	width: 10em;
	float: left;
	clear: left;
	margin-left: 2em;
}
#content dl.lolongvaluemainlist dd {
	font-weight: bold;
}
/* ------------------------ dl.shortvaluemainlist */
#content dl.shortvaluemainlist {
	font-size: 85%;/*11px*/
	padding-top: 0.5em;
}
#content dl.shortvaluemainlist dt {
	width: 18em;
	float: left;
	clear: left;
	margin-left: 2em;
}
#content dl.shortvaluemainlist dd {
	font-weight: bold;
}
/* ------------------------ dl.compactlist */
#content dl.compactlist dt {
	clear: left;
	float: left;
	margin-right: 1em;
}
#content dl.compactlist dd {
	font-size: 83%;/*10px*/
}
#content dl.compactlist dd span.supplement {
	font-size: 90%;/*9px*/
	color: green;
}
/* ------------------------ dl.hierarchylist */
#content dl.hierarchylist dt {
	padding-top: 0em;
	clear: left;
	float: left;
	margin-right: 1em;
}
#content dl.hierarchylist dd {
	font-size: 83%;/*10px*/
}
#content dl.hierarchylist dd dl {
	font-size: 120%;/*12px*/
}
#content dl.hierarchylist dd span.refcode {
	color: green;
}
#content dl.hierarchylist dt.twoedged-title {
	font-size: 83%;/*10px*/
	font-style: italic;
	list-style: none;
	margin-left: 1em;
}
#content dl.hierarchylist dd.twoedged-desc {
	font-style: italic;
}
#content dl.hierarchylist dl.twoedged-element {
	font-size: 91.6%;/*11px*/
	font-style: italic;
}
/* ------------------------ dl dd ul.supplementlist */
#content dl dd ul.supplementlist li {
	list-style-type: circle;
	padding: 0 0 0em 0.5em;
}

/* ------------------------------------------ div --- */
#content div.relatedword, div.relatedpage, div.detailpage {
	text-align: right;
	margin: 10px 0;
}
#content div.relatedword a, div.relatedpage a, div.detailpage a {
	text-decoration: none;
	font-style: italic;
}
#content div.detailpage a, #content div.detailpage span {
	background: transparent url("../image/parts/mark-fortissimo.png") no-repeat 4px 3px;
	padding: 3px 4px 3px 30px;
	font-weight: bolder;
}
#content div.relatedpage a, #content div.relatedpage span {
	background: transparent url("../image/parts/mark-mezzopiano.png") no-repeat 0 7px;
	padding: 2px 4px 2px 25px;
}
#content div.relatedword a, #content div.relatedword span {
	background: transparent url("../image/parts/mark-pianissimo.png") no-repeat 0 6px;
	padding: 2px 4px 2px 25px;
}

#content div.inucolumn {
	margin-top: 50px;
	border: solid 2px #eee;
	padding: 0 12px 5px 12px;
	background: transparent url("../image/parts/background-doted.png") repeat;
}
#content div.inucolumn:before {
	content: "jflute's Column";
	display: block;
	margin: -10px 0 0 400px;
	font-family: serif;
	font-weight: bolder;
	font-style: italic;
	color: #999;
}
#content div.inucolumn h2, #content div.inucolumn h3, #content div.inucolumn h4 {
	margin-top: 30px;
}

#content div.release li {
	font-size: 80%;
}

/* ------------------------------------------- em --- */
#content em.keyword {
	font-size: 110%;
	font-style: italic;
	font-weight: bolder;
	color: #663333;
}
#content em.bigmark {
	font-size: 120%;
	font-weight: bolder;
	color: #123499;
}
#content em.mark {
	font-size: 110%;
	font-weight: bolder;
	color: #123499;
}
#content em.smallmark {
	font-size: 100%;
	font-weight: bolder;
	color: #123499;
}

/* ------------------------------------------ img --- */
#content p.imgbox {
	font-size: 85%;/*11px*/
	font-weight: bolder;
	color: #333;
	border: solid 1px #999;
	background-color: #eee;
	padding: 8px;
	margin-top: 6px;
	margin-bottom: 10px;
}
#content p.imgbox img {
	-ms-interpolation-mode: bicubic;
	/* IE7以降向け画像縮小時の指定 */
}

/* ------------------------------------------ sitemap --- */
#content div.sitemap {
	font-size: 85%;
}
#content div.sitemap li{
	font-size: 100%;
}
#content div.sitemap div.leftside {
	width: 45%;
	float: left;
}
#content div.sitemap div.rightside {
	width: 52%;
	float: right;
}
#content div.sitemap div.clear {
	clear: both;
}
#content div.sitemap h2 {
	margin: 40px 10px 20px 0;
	border-bottom: solid 2px #666;
	padding: 0;
	background: none;
	text-align: left;
	line-height: 1em;
}
#content div.sitemap h2 a{
	color: #444;
}
#content div.sitemap ul {
	list-style-position: outside;
}
#content div.sitemap ul ul {
	border-left: dotted 1px #999;
	margin-left: 4px;
	padding-left: 12px;
}
#content div.sitemap ul li {
	list-style: none;
}
#content div.sitemap ul ul li {
	list-style-image: url("../image/parts/listmark-line.png");
}
/* ------------------------------------------------------------------------------ content } */
